.nxr-service-sec {
	padding: 0px 20px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		padding: 0px 10px;
	}
}

.nxr-service-wrapper {
	overflow: hidden;
	border-radius: 32px;
	padding-bottom: 120px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		padding-bottom: 0;
	}
}

.nxr-service-title {
	z-index: 6;
	max-width: 420px;
	position: relative;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
		margin-bottom: 30px;
	}
	.subtitle {
		color: #FFFFFF;
		font-weight: 500;
		margin-bottom: 12px;
		font-family: var(--nxr-space);
		i {
			font-style: normal;
			color: var(--nxr-prime-c);
		}
		span {
			font-family: var(--nxr-inter);
		}
	}
	.ser_title {
		color: #fff;
		line-height: 1;
		font-size: 80px;
		font-weight: 700;
		letter-spacing: -2px;
	}
}

.nxr-service-card-wrapper {
	width: 100%;
	max-width: 700px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		gap: 30px;
		max-width: 100%;
		flex-wrap: wrap;
		justify-content: center !important;
	}
}

.nxr-service-content {
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		display: block !important;
	}
}
.nxr-ser-card-item {
	top: 0;
	right: 0;
	padding: 10px;
	max-width: 440px;
	position: absolute;
	border-radius: 20px;
	background-color: #FFAEAF;
	transition: all 500ms ease-in-out;
	box-shadow: -12px -12px 34px 0px #00000059;
	filter: blur(2px);
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		top: 0 !important;;
		left: 0 !important;
		position: relative;
		filter: blur(0px);
		transform: rotate(0deg) !important;
	}
	&:is(.active) {
		filter: blur(0px);
	}
	&:is(.ver_1) {
		z-index: 5;
		position: relative;
	}
	&:is(.ver_2) {
		top: 5px;
		left: 150px;
		z-index: 4;
		transform: rotate(-12deg);
		background-color: #B8B1FE;
	}
	&:is(.ver_3) {
		top: 30px;
		left: 75px;
		z-index: 3;
		transform: rotate(-22deg);
		background-color: #FABE91;
	}
	&:is(.ver_4) {
		left: 23px;
		top: 50px;
		z-index: 2;
		transform: rotate(-32deg);
		background-color: #FFEDAA;
	}
	&:is(.ver_5) {
		left: -15px;
		top: 80px;
		z-index: 1;
		transform: rotate(-45deg);
		background-color: #D1FFB3;
	}
	.inner-img {
		overflow: hidden;
		border-radius: 20px;
	}
	.inner-icon {
		left: 36px;
		bottom: 0;
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		border-radius: 100%;
		position: absolute;
		justify-content: center;
		background-color: #fff;
		box-shadow: 0px 0px 12px 0px #B8213280 inset;

	}
	.item-text {
		padding: 0px 26px 26px;
		h3 {
			display: none;
			color: #000000;
			margin-bottom: 0;
			padding-bottom: 20px;
			text-transform: uppercase;
			@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
				display: block;
			}
		}
		p {
			opacity: .72;
			color: #000000;
			font-size: 18px;
			padding-bottom: 25px;
		}
		.read_more {
			gap: 8px;
			opacity: .72;
			color: #000000;
			font-size: 15px;
			font-weight: 500;
			i {
				width: 32px;
				height: 32px;
				display: flex;
				align-items: center;
				border-radius: 100%;
				justify-content: center;
				background-color: #fff;
			}
		}
	}
}

.nxr-service-list-wrap {
	margin-top: 70px;
	padding-left: 40px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		display: none;
	}
	li {
		opacity: .16;
		color: #FFFFFF;
		line-height: 1;
		font-size: 52px;
		cursor: pointer;
		font-weight: 700;
		position: relative;
		text-align: right;
		letter-spacing: -3px;
		white-space: nowrap;
		margin-bottom: 40px;
		font-family: var(--nxr-space);
		transition: all 500ms ease-in-out;
		&:before {
			right: 0;
			width: 0%;
			content: '';
			height: 30px;
			bottom: -24px;
			max-width: 315px;
			position: absolute;
			background-repeat: no-repeat;
			transition: all 700ms ease-in-out;
			background-image: url(../img/service/line-1.png);
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:is(.active) {
			opacity: 1;
			&:before {
				width: 100%;
			}
		}
	}
}

.nxr-ser-desc {
	left: 0;
	bottom: 0;
	max-width: 414px;
	position: absolute;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 0 auto;
		position: static;
		margin-top: 30px;
	}
	p {
		color: #fff;
		font-size: 18px;
	}
}

.nxr-ser-ratting {
	right: 0;
	width: 260px;
	bottom: -25px;
	position: absolute;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		position: static;
		margin: 0 auto;
		margin-top: 30px;
	}
	.nxr-ser-rate-top {
		margin-bottom: 10px;
		li {
			width: 54px;
			height: 54px;
			overflow: hidden;
			margin-left: -22px;
			border-radius: 100%;
			border: 2px solid #010101;
		}
		.lf-2 {
			margin-left: -20px;
		}
	}
	.nxr-ser-rate-bottom {
		.rate-star {
			gap: 8px;
			margin-bottom: 10px;
			li {
				color: #FD3F00;
			}
			span {
				color: #fff;
				font-size: 20px;
				font-weight: 500;
			}
		}
		p {
			font-size: 15px;
			color: #FFFFFFCC;
			span {
				color: #fff;
				font-weight: 600;
			}
		}
	}
}