.nxr-service-sec {
	padding: 0px 20px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		padding: 0px 10px;
	}
}

.nxr-service-wrapper {
	overflow: hidden;
	border-radius: 32px;
	padding-bottom: 120px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		padding-bottom: 0;
	}
}
@keyframes moving {
	0% {
		transform-origin: 50% 100%;
		transform: skewX(-5deg);
	}
	50% {
		transform-origin: 50% 100%;
		transform: skewX(5deg);
	}
	100% {
		transform-origin: 50% 100%;
		transform: skewX(-5deg);
	}
}
.nxr-service-title {
	z-index: 6;
	width: 100%;
	max-width: 450px;
	position: relative;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
		margin-bottom: 30px;
	}
	.subtitle {
		color: #FFFFFF;
		font-weight: 500;
		margin-bottom: 12px;
		font-family: var(--nxr-space);
		i {
			font-style: normal;
			color: var(--nxr-prime-c);
		}
		span {
			font-family: var(--nxr-inter);
		}
	}
	.ser_title {
		color: #fff;
		line-height: 1;
		font-size: 80px;
		font-weight: 700;
		letter-spacing: -2px;
	}
}

.nxr-service-card-wrapper {
	width: 100%;
	max-width: 700px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		gap: 30px;
		max-width: 100%;
		flex-wrap: wrap;
		justify-content: center !important;
	}
}

.nxr-service-content {
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		display: block !important;
	}
}
.nxr-ser-card-item {
	top: 0;
	right: 0;
	padding: 10px;
	max-width: 440px;
	position: absolute;
	border-radius: 20px;
	background-color: #FFAEAF;
	transition: all 500ms ease-in-out;
	box-shadow: -12px -12px 34px 0px #00000059;
	filter: blur(2px);

	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		top: 0 !important;;
		left: 0 !important;
		position: relative;
		filter: blur(0px);
		transform: rotate(0deg) !important;
	}
	&:is(.active) {
		filter: blur(0px);
	}
	&:is(.ver_1) {
		z-index: 5;
		position: relative;
	}
	&:is(.ver_2) {
		top: 5px;
		left: 150px;
		z-index: 4;
		transform: rotate(-12deg);
		background-color: #B8B1FE;
	}
	&:is(.ver_3) {
		top: 30px;
		left: 75px;
		z-index: 3;
		transform: rotate(-22deg);
		background-color: #FABE91;
	}
	&:is(.ver_4) {
		left: 23px;
		top: 50px;
		z-index: 2;
		transform: rotate(-32deg);
		background-color: #FFEDAA;
	}
	&:is(.ver_5) {
		left: -15px;
		top: 80px;
		z-index: 1;
		transform: rotate(-45deg);
		background-color: #D1FFB3;
	}
	.inner-img {
		overflow: hidden;
		border-radius: 20px;
		clip-path: polygon( 100% 94.724%,100% 94.724%,99.927% 95.623%,99.717% 96.469%,99.382% 97.248%,98.936% 97.948%,98.392% 98.557%,97.762% 99.062%,97.061% 99.452%,96.3% 99.713%,95.493% 99.833%,94.653% 99.801%,32.041% 91.473%,32.041% 91.473%,31.687% 91.393%,31.36% 91.254%,31.062% 91.063%,30.795% 90.824%,30.563% 90.545%,30.367% 90.231%,30.21% 89.888%,30.095% 89.522%,30.024% 89.14%,30% 88.747%,30% 88.747%,29.844% 86.673%,29.393% 84.705%,28.671% 82.87%,27.703% 81.195%,26.513% 79.705%,25.126% 78.426%,23.566% 77.386%,21.858% 76.611%,20.026% 76.126%,18.095% 75.959%,18.095% 75.959%,16.57% 76.063%,15.102% 76.367%,13.705% 76.857%,12.39% 77.521%,11.168% 78.346%,10.052% 79.319%,9.053% 80.428%,8.184% 81.66%,7.457% 83.002%,6.882% 84.441%,6.882% 84.441%,6.666% 84.991%,6.396% 85.511%,6.075% 85.993%,5.708% 86.428%,5.301% 86.808%,4.857% 87.124%,4.381% 87.369%,3.877% 87.532%,3.351% 87.608%,2.807% 87.586%,2.807% 87.586%,2.339% 87.485%,1.899% 87.316%,1.494% 87.083%,1.126% 86.792%,0.802% 86.451%,0.526% 86.063%,0.303% 85.636%,0.138% 85.175%,0.035% 84.686%,0% 84.174%,0% 5.115%,0% 5.115%,0.062% 4.285%,0.243% 3.498%,0.532% 2.764%,0.919% 2.094%,1.395% 1.498%,1.95% 0.987%,2.574% 0.571%,3.257% 0.261%,3.989% 0.067%,4.762% 0%,95.238% 0%,95.238% 0%,96.011% 0.067%,96.743% 0.261%,97.426% 0.571%,98.05% 0.987%,98.605% 1.498%,99.081% 2.094%,99.468% 2.764%,99.757% 3.498%,99.938% 4.285%,100% 5.115%,100% 94.724% );


	}
	.inner-icon {
		left: 36px;
		bottom: 0;
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		border-radius: 100%;
		position: absolute;
		justify-content: center;
		background-color: #fff;
		box-shadow: 0px 0px 12px 0px #B8213280 inset;

	}
	.item-text {
		padding: 0px 26px 26px;
		h3 {
			display: none;
			color: #000000;
			margin-bottom: 0;
			padding-bottom: 20px;
			text-transform: uppercase;
			@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
				display: block;
			}
		}
		p {
			opacity: .72;
			color: #000000;
			font-size: 18px;
			padding-bottom: 25px;
		}
		.read_more {
			gap: 8px;
			opacity: .72;
			color: #000000;
			font-size: 15px;
			font-weight: 500;
			i {
				width: 32px;
				height: 32px;
				display: flex;
				align-items: center;
				border-radius: 100%;
				justify-content: center;
				background-color: #fff;
				transition: all 500ms ease-in-out;
			}
			&:hover {
				letter-spacing: 1px;
				i {
					color: #fff;
					background-color: var(--nxr-prime-c);
				}
			}
		}
	}
}

.nxr-service-list-wrap {
	margin-top: 70px;
	padding-left: 40px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		display: none;
	}
	li {
		opacity: .16;
		color: #FFFFFF;
		line-height: 1;
		font-size: 52px;
		cursor: pointer;
		font-weight: 700;
		position: relative;
		text-align: right;
		letter-spacing: -3px;
		white-space: nowrap;
		margin-bottom: 40px;
		font-family: var(--nxr-space);
		transition: all 500ms ease-in-out;
		&:before {
			right: 0;
			width: 0%;
			content: '';
			height: 30px;
			bottom: -24px;
			max-width: 315px;
			position: absolute;
			background-repeat: no-repeat;
			transition: all 700ms ease-in-out;
			background-image: url(../img/service/line-1.png);
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:is(.active) {
			opacity: 1;
			&:before {
				width: 100%;
			}
		}
	}
}

.nxr-ser-desc {
	left: 0;
	bottom: 0;
	max-width: 414px;
	position: absolute;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 0 auto;
		position: static;
		margin-top: 30px;
	}
	p {
		color: #fff;
		font-size: 18px;
	}
}

.nxr-ser-ratting {
	right: 0;
	width: 260px;
	bottom: -25px;
	position: absolute;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		position: static;
		margin: 0 auto;
		margin-top: 30px;
	}
	.nxr-ser-rate-top {
		margin-bottom: 10px;
		li {
			width: 54px;
			height: 54px;
			overflow: hidden;
			margin-left: -22px;
			border-radius: 100%;
			border: 2px solid #010101;
		}
		.lf-1 {
			-webkit-animation: moving 3s linear infinite;
			animation: moving 3s linear infinite;
			-webkit-animation-delay: 3s;
			animation-delay: 3s;
		}
		.lf-2 {
			margin-left: -20px;
			-webkit-animation: moving 3s linear infinite;
			animation: moving 3s linear infinite;
			-webkit-animation-delay: 2s;
			animation-delay: 2s;
		}
	}
	.nxr-ser-rate-bottom {
		.rate-star {
			gap: 8px;
			margin-bottom: 10px;
			li {
				color: #FD3F00;
			}
			span {
				color: #fff;
				font-size: 20px;
				font-weight: 500;
			}
		}
		p {
			font-size: 15px;
			color: #FFFFFFCC;
			span {
				color: #fff;
				font-weight: 600;
			}
		}
	}
}